/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111111; /* Ciemne tło, niemal czarne */
    color: #e0e0e0; /* Jasno-szary tekst */
    font-family: 'Poppins', sans-serif; /* Lżejsza czcionka z charakterem */
    line-height: 1.8;
    padding: 50px;
}

header {
    background-color: #222222; /* Tło headera ciemniejsze */
    padding: 40px 0;
    border-bottom: 4px solid #3a3a3a; /* Mocniejsza granica */
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #e0e0e0; /* Jasny tekst */
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #f39c12; /* Pomarańczowy pasek pod linkiem */
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

header nav ul li a:hover {
    color: #f39c12; /* Zmiana koloru tekstu na pomarańczowy */
    transform: translateY(-3px); /* Lekka animacja uniesienia */
}

header nav ul li a:hover::after {
    transform: scaleX(1); /* Pasek pod linkiem pojawia się podczas hover */
}

.actions a {
    color: #111111;
    background-color: #f39c12; /* Jasno-pomarańczowy przycisk */
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 40px; /* Okrągłe krawędzie */
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Cień dla przycisku */
    transition: all 0.3s ease;
}

.actions a:hover {
    background-color: #e67e22; /* Ciemniejszy odcień pomarańczowego */
    transform: scale(1.05); /* Powiększenie przycisku */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* Silniejszy cień przy hover */
}

.main-section, .boss-ranking-section, .features-section {
    background-color: #1e1e1e; /* Ciemne tło sekcji */
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); /* Wyraźniejszy cień */
}

h1, h2, h3 {
    color: #f39c12; /* Pomarańczowe nagłówki */
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

ul {
    list-style-type: square;
    padding-left: 30px;
    color: #e0e0e0;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: #222222; /* Ciemne tło stopki */
    color: #7f8c8d; /* Szary tekst */
    border-top: 4px solid #3a3a3a;
    margin-top: 50px;
}

footer a {
    color: #f39c12;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #e67e22;
    text-decoration: underline;
}
