<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.kr53914" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Radosław Kolb 53914</name>
    <description>Sample Apache Cordova App</description>
    <author email="kr53914@zut.edu.pl" href="https://wi.zut.edu.pl">
        Radosław Kolb
    </author>
    <platform name="electron">
    <icon src="res/electron/logo.png" />
    <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
